
body{
	height:60rem;
	background-color: Grey;
	}
h1{
	font-size:20px;
}
footer{
	margin-top:10rem;
}
main div{
	padding:1.3rem;
	
}
main{
	padding: 2rem;
}
html{
	font-size:17px;
}
.afis{
	padding:0.7em;
	font-family: 'Jost', sans-serif;
	font-size: 0.8rem;
}
#afisTemplate{
	display: grid;
	grid-template-columns: 18rem 18rem 18rem;
	column-gap:4rem;
	width:65rem;
	margin-top:2rem;
	
}
.templ_elev{
	box-shadow: 10px 10px rgb(51, 106, 156);
	padding:1rem;
	margin-bottom:1rem;
	width:18rem;
	background-color: rgb(230, 230, 230);
	
}
.templ_elev span{
	font-weight: bold;
}
button{
	background-color: lightblue;
	font-size: 1rem;
	padding:1rem;
}
#meniu_apl{
	font-family: 'Jost', sans-serif;
	height: 11rem;
	margin-top:5rem;
}
#meniu_apl p{
	font-size: 1.2rem;
	margin-left:35%;
}
button:first-of-type{
	margin-left: 8rem;
}
button:nth-of-type(4){
	margin-left: -0.5rem;
	font-size:0.1rem;
	height:3.35rem;
}
button:nth-of-type(5){
	margin-left: 13rem;
}
button:nth-of-type(8){
	margin-left: 5rem;
}
button:nth-of-type(9){
	margin-left: -0.5rem;
}
button:hover{
	background-color: rgb(118, 178, 232)!important ;
}