@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto|Teko|Shadows+Into+Light|Permanent+Marker|Vanela+Round|Sen|Exo+2|Nunito+Sans|Ropa+Sans|Raleway|Pacifico|Anton&display=swap');
body{
	background-color: rgb(233, 150, 122);
}
html{
	font-size:17px;
}
footer{
	margin-top: 28rem;
}
p{
	margin-top: 0.3rem;
	text-align:center;
}
#container{
	justify-content:justify;
	height:10rem;
	width:30rem;
	align-items:center;
	margin-top: -23rem;
	margin-left:30rem;
	position: absolute;
}
img{
	width:12rem;
	margin-top:-21rem;
	margin-left:16rem;
	margin-bottom: 0rem;
	position:absolute;
}
main p:first-of-type{
	color: black;
	font-size: 3rem;
	font-family: 'Shadows Into Light', cursive;
	font-weight:bold;
}
main p:nth-of-type(2){
	color: white;
	font-size: 2rem;
	font-family: 'Roboto Mono', monospace;
	margin-top:-2rem;
}
main p:nth-of-type(3){
	color: grey;
	font-size: 1.5rem;
	font-family: 'Teko';
}
main p:nth-of-type(4){
	color: black;
	font-size: 1.5rem;
	font-family: 'Teko';
	margin-bottom:0rem;
}