<footer>
		<div id="banda">
			<div id="desc" class="footer-item">
				<p id="title">IPOO</p>
				<p id="pdesc">O platformă de învățare online pentru elevi.</p>
			</div>
			<div class="footer-item">
				<a href="#">Începutul paginii</a>
				<p>Contact</p>
				<ul>
					<li><a href="mailto:dorneanualina@yahoo.com">dorneanualina@yahoo.com</a></li>
					<li><a href="mailto:alina-mihaela.dorneanu1@my.fmi.unibuc.ro">alina-mihaela.dorneanu1@my.fmi.unibuc.ro</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<p id="sign">Alina-Mihaela Dorneanu</p>
				<p>studentă la <abbr title="Facultatea de Matematică și Informatică">FMI</abbr>, <abbr title="Universitatea din București">UB</abbr><br>
			</div>
		</div>
		<div id="rights">IPOO © 2020. All rights reserved.
			<i class="fab fa-facebook-square"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter-square"></i>
		</div>
</footer>