<header>
		<nav class="row">
			<ul class="main-nav">
				<li class="dropdown active">
					<a href="/">ACASĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="#desprenoi">DESPRE</a></li>
						<li><a href="#recomandari">RECOMANDĂRI</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="/teorie">ÎNVAȚĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="/teorie">TEORIE</a></li>
						<li><a href="/exercitii">EXERCIȚII</a></li>
					</ul>
				</li>
				<li><a href="/contact"> CONTACT </a></li>
				<li><a href="/news"> ȘTIRI </a></li>
            </ul>				
		</nav>
		<% if(!locals.username) {  %>
		<form action="/login" method="post">
			<label for="user">user:</label>
			<input type="text" id="user" name="username"><br>
			<label for="parola">parola:</label>
			<input type="password" id="parola" name="parola"><br><br>
			<input type="submit" value="Login" id="login">
			<p id="inr"><a href="/inregistrare">Nu ai cont? Înregistrează-te!</a></p>
		</form> 
		<% }
	else { %>
	<div>Utilizator logat: <%= locals.username  %><br>
	<a href="/logout">Logout</a>
	<% } %></div>
		
</header>