<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Acasă</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="keywords" content="POO, OOP, programare, platformă, C++, obiect">
		<meta name="description" content="O pagina destinata elevilor despre programarea orientata pe obiecte">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/css_404.css">
		<script src="js/nrcuv.js"></script>
	</head>
	<body>
		<%- include('../fragmente/header')  %>
		
		<main>
			<div id="container">
				<p>OOPS!</p>
				<p>404</p>
				<p>Pagina pe care ai căutat-o nu există, îmi pare rău...</p>
				<p>Dacă ești aici pentru a învăța POO, poți folosi meniul pentru a te intoarce la o pagină existentă</p>
			</div>
			<img src="../imagini/robo.png"/>
		</main>
		
		<%- include('../fragmente/footer')  %>
	</body>
</html>