<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<title>Contact</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de contact a unui site ce vizeaza programarea orietata obiect">
		<meta name="keywords" content="învățare, programare, platformă, elevi, obiect">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/css_contact.css">
	</head>
	<body>
		<%- include('../fragmente/header')  %>
	<main>
		<div>
		<address>
		<ul id="listacontact">
			<li><span>E-MAIL:</span> <a href="mailto:contactipoo@yahoo.com">contactipoo@yahoo.com</a></li>
			<li><span>ADRESA:</span> str. Strada Crinului, nr.5, sector 1, București</li>
			<li><span>TELEFON:</span> 07372567392 </li>
		</ul>
		</address>
		</div>
		 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.5611356668937!2d26.03376741499284!3d44.483167779101585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b203c7acf46c4f%3A0x34f6a395c4467c33!2sStrada%20Crinului%2C%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1585696536516!5m2!1sro!2sro" width="600" height="450" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		
	</main>
		<%- include('../fragmente/footer')  %>
		<script src="js/nrcuv.js"></script>
		<script src="js/activa.js"></script>
	</body>

</html>