<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<title>Documentatie</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de documentatie pentru o platforma de informatica">
		<meta name="keywords" content="documentatie, youtube, programare, platforma, elevi">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/css_documentatie.css">
		<script src="js/nrcuv.js"></script>
	</head>
	<body>
	<%- include('../fragmente/header')  %>	
	<main>
		<div>
		<h1>Documentatie</h1>
		<ul>
			<li><a href="https://www.w3schools.com/">w3schools.com</a></li>
			<li><a href="https://stackoverflow.com/">stackoverflow.com</a></li>
			<li><a href="http://irinaciocan.ro/">irinaciocan.ro</a></li>
			<li><a href="https://fontawesome.com/">fontawesome.com</a></li>
			<li><a href="https://fonts.google.com/">fonts.google.com</a></li>
			<li><a href="https://css-tricks.com/">css-tricks.com</a></li>
			<li><a href="https://pcnews.ro/robot-nasa-marte-nume/">pcnews.ro</a></li>
			<li><a href="https://techcafe.ro/evenimente/peste-200-pasionati-tehnologie-vor-dezvolta-solutii-de-impact-pentru-societate-la-devhacks/">techcafe.ro</a></li>
			<li><a href="https://www.itnewz.ro/cum-se-comporta-reteua-5g-orange-in-viata-reala/">itnewz.ro</a></li>
			<li><a href="https://buhnici.ro/samsung-galaxy-s20-unboxing-review-2/">buhnici.ro</a></li>
			<li><a href="https://www.youtube.com/watch?v=a2UnYs9AA_M">youtube.com</a></li>
			<li><a href="https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1636s">youtube.com</a></li>
		</ul>
		</div>
	</main>
	<%- include('../fragmente/footer')  %>
	<script src="js/nrcuv.js"></script>
	</body>

</html>