<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<title>Documentatie</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de documentatie pentru o platforma de informatica">
		<meta name="keywords" content="documentatie, youtube, programare, platforma, elevi">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/afisareJson.css">
		<script src="js/script.js"></script>
	</head>
	<body>
	<%- include('../fragmente/header')  %>	
	<main>
		<div>
		<h1>Elevii</h1>
		 <p>Continut JSON</p>
		<!-- aici se va afisa continutul neprocesat al JSON-ului -->
		<div class="afis" id="afisJson">
		</div>
		</div>
	<br>
	</main>
	<%- include('../fragmente/footer')  %>
	</body>

</html>