<html>
	<head>
		<title>IPOO</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de acasa"><!--description pentru pagina respectiva, title,-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<link rel="stylesheet" type="text/css" href="all.css">
		<link rel="stylesheet" type="text/css" href="css_exercitii.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Work+Sans|Poppins|Roboto|Permanent+Marker|Nunito|Vanela+Round|Sen|Exo+2|Nunito+Sans|Righteous|Ropa+Sans|Raleway|Pacifico|Anton&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
		<nav class="row">
			<ul class="main-nav">
				<li class="dropdown">
					<a href="index.html">ACASĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="index.html">DESPRE</a></li>
						<li><a href="index.html">RECOMANDĂRI</a></li>
					</ul>
				</li>
				<li class="dropdown active">
					<a href="teorie.html">ÎNVAȚĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="teorie.html">TEORIE</a></li>
						<li><a href="exercitii.html">EXERCIȚII</a></li>
					</ul>
				</li>
				<li><a href="contact.html"> CONTACT </a></li>
				<li><a href="news.html"> ȘTIRI </a></li>
            </ul>				
		</nav>
		</header>
		<main>
			<div id="container">
			</div>
		</main>
		<footer>
		<div id="banda">
			<div id="desc" class="footer-item">
				<p id="title">IPOO</p>
				<p id="pdesc">O platformă de învățare online pentru elevi.</p>
			</div>
			<div class="footer-item">
				<a href="#">Începutul paginii</a>
				<p>Contact</p>
				<ul>
					<li><a href="mailto:dorneanualina@yahoo.com">dorneanualina@yahoo.com</a></li>
					<li><a href="mailto:alina-mihaela.dorneanu1@my.fmi.unibuc.ro">alina-mihaela.dorneanu1@my.fmi.unibuc.ro</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<p id="sign">Alina-Mihaela Dorneanu</p>
				<p>studentă la <abbr title="Facultatea de Matematică și Informatică">FMI</abbr>, <abbr title="Universitatea din București">UB</abbr><br>
			</div>
			<div class="footer-item">
				<i class="fab fa-facebook"></i>
			</div>
		</div>
		<div id="rights">IPOO © 2020. All rights reserved.
			<i class="fab fa-facebook-square"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter-square"></i>
		</div>
	</footer>
	</body>
	</body>


</html>