<html>
	<head>
		<title>IPOO</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de acasa"><!--description pentru pagina respectiva, title,-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/css_exercitii.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Work+Sans|Poppins|Roboto|Permanent+Marker|Nunito|Vanela+Round|Sen|Exo+2|Nunito+Sans|Righteous|Ropa+Sans|Raleway|Pacifico|Anton&display=swap" rel="stylesheet">
	</head>
	<body>
		<%- include('../fragmente/header')  %>
		<main>
			<div id="container">
			</div>
		</main>
		<%- include('../fragmente/footer')  %>
	</body>
	</body>


</html>