<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<title>Știri</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de stiri din domeniul tehnologiei">
		<meta name="keywords" content="știri, programare, platformă, elevi, tehnologie">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/all.css">
		<link rel="stylesheet" type="text/css" href="/css/css_news.css">
	</head>
	<body>
		<%- include('../fragmente/header')  %>

	<main>
	
		<div id="container-articole">
			<article><a href="https://buhnici.ro/samsung-galaxy-s20-unboxing-review-2/">
				<h1>Samsung Galaxy S20 Plus – UNBOXING & REVIEW</h1>
				<img src="../imagini/buhnici.jpg" title="Samsung Galaxy S5" alt="Samsung Galaxy S20"/></a>
			</article>
			<article><a href="https://www.itnewz.ro/cum-se-comporta-reteua-5g-orange-in-viata-reala/" >
				<h1>Cum se comportă Rețeua 5G Orange în viața reală?</h1>
				<img src="../imagini/5g.jpg" title="Reteaua 5G Orange" alt="Retea"/></a>
			</article>
			<article><a href="https://techcafe.ro/evenimente/peste-200-pasionati-tehnologie-vor-dezvolta-solutii-de-impact-pentru-societate-la-devhacks/">
				<h1>Peste 200 de pasionați de tehnologie vor dezvolta soluții de impact pentru societate la DevHacks</h1>
				<img src="../imagini/dev.jpg" title="Competita Dev" alt="Dev Competition"/></a>
			</article>
			<article><a href="https://pcnews.ro/robot-nasa-marte-nume/">
				<h1>Cum se va numi viitorul roboțel NASA de pe Marte și de unde i-a venit numele</h1>
				<img src="../imagini/robot.jpg" title="Robotelul de Nasa" alt="Robotel NASA"/></a>
			</article>
			</div>
	</main>
		<%- include('../fragmente/footer')  %>
		<script src="js/nrcuv.js"></script>
		<script src="js/alertaProprie.js"></script>
	</body>

</html>