<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<title>Știri</title>
		<meta charset="UTF-8">
		<meta name="author" content="Alina Dorneanu">
		<meta name="description" content="pagina de stiri din domeniul tehnologiei">
		<meta name="keywords" content="știri, programare, platformă, elevi, tehnologie">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon.ico" sizes="16x16"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="all.css">
		<link rel="stylesheet" type="text/css" href="css_news.css">
	</head>
	<body>
		<header>
		<nav class="row">
			<ul class="main-nav">
				<li class="dropdown">
					<a href="index.html">ACASĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="index.html">DESPRE</a></li>
						<li><a href="index.html">RECOMANDĂRI</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="teorie.html">ÎNVAȚĂ</a>
					<ul class="dropdown-content"> 
						<li><a href="teorie.html">TEORIE</a></li>
						<li><a href="exercitii.html">EXERCIȚII</a></li>
					</ul>
				</li>
				<li><a href="contact.html"> CONTACT </a></li>
				<li class="active"><a href="news.html"> ȘTIRI </a></li>
            </ul>				
		</nav>
		</header>
	<main>
		<div id="container-articole">
			<article><a href="https://buhnici.ro/samsung-galaxy-s20-unboxing-review-2/">
				<h1>Samsung Galaxy S20 Plus – UNBOXING & REVIEW</h1>
				<img src="../imagini/buhnici.jpg" title="Samsung Galaxy S5" alt="Samsung Galaxy S20"/></a>
			</article>
			<article><a href="https://www.itnewz.ro/cum-se-comporta-reteua-5g-orange-in-viata-reala/" >
				<h1>Cum se comportă Rețeua 5G Orange în viața reală?</h1>
				<img src="../imagini/5g.jpg" title="Reteaua 5G Orange" alt="Retea"/></a>
			</article>
			<article><a href="https://techcafe.ro/evenimente/peste-200-pasionati-tehnologie-vor-dezvolta-solutii-de-impact-pentru-societate-la-devhacks/">
				<h1>Peste 200 de pasionați de tehnologie vor dezvolta soluții de impact pentru societate la DevHacks</h1>
				<img src="../imagini/dev.jpg" title="Competita Dev" alt="Dev Competition"/></a>
			</article>
			<article><a href="https://pcnews.ro/robot-nasa-marte-nume/">
				<h1>Cum se va numi viitorul roboțel NASA de pe Marte și de unde i-a venit numele</h1>
				<img src="../imagini/robot.jpg" title="Robotelul de Nasa" alt="Robotel NASA"/></a>
			</article>
			</div>
	</main>
		<footer>
		<div id="banda">
			<div id="desc" class="footer-item">
				<p id="title">IPOO</p>
				<p id="pdesc">O platformă de învățare online pentru elevi.</p>
			</div>
			<div class="footer-item">
				<a href="#">Începutul paginii</a>
				<p>Contact</p>
				<ul>
					<li><a href="mailto:dorneanualina@yahoo.com">dorneanualina@yahoo.com</a></li>
					<li><a href="mailto:alina-mihaela.dorneanu1@my.fmi.unibuc.ro">alina-mihaela.dorneanu1@my.fmi.unibuc.ro</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<p id="sign">Alina-Mihaela Dorneanu</p>
				<p>studentă la <abbr title="Facultatea de Matematică și Informatică">FMI</abbr>, <abbr title="Universitatea din București">UB</abbr><br>
			</div>
		</div>
		<div id="rights">IPOO © 2020. All rights reserved.
			<i class="fab fa-facebook-square"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter-square"></i>
		</div>
	</footer>
	</body>

</html>