<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>

	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body class="container">
<%-  include('../fragmente/header')  %> <!-- < % - ca sa interpreteze tagurile -->

<main>
    <div class="afisaj">
        <h1>Pagina principala</h1>
        <p>Salut! Sunt Ionel si imi plac stelutele si prajiturile.<br/>
		<img src="http://irinaciocan.ro/imagini/nenea_html.png" alt="Ionel"/>
		</p>
    </div>
</main>
<%- include('../fragmente/footer')  %>

</body>
</html>  